@import url("https://fonts.cdnfonts.com/css/neometric-2");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --heading-color: #060b5d;
  --text-color: #97979b;
}

body {
  font-family: "Neometric Alt", sans-serif;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section {
  padding: 25px 5%;
  /* margin: 50px 0; */
}
.ourdoctor{
  margin-top: 50px;
}
.image {
  width: 100%;
}
body{margin-top:20px;
    background:#eee;
    }
    
    /* ===== ABOUT PAGE ===== */
    .team-item {
      padding: 35px;
      padding-right: 0;
      position: relative;
      z-index: 0;
    }
    .namedoctor{
margin-left: -9px;
    }
    .team-item:after, .team-item:before {
      content: "";
      position: absolute;
      -webkit-box-shadow: 0 5px 30px 0 rgba(38, 163, 194, 0.15);
              box-shadow: 0 5px 30px 0 rgba(156, 107, 107, 0.15);
      border-radius: 10px;
      z-index: -1;
    }
    
    .team-item:before {
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      right: 30px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .team-item:after {
      height: 6px;
      width: calc(100% - 30px);
      background-color: #4e63d7;
      left: 0;
      bottom: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    
    .team-item:hover:after {
      height: 100%;
    }
    
    .team-item .img-holder {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
              box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
      border-radius: 10px;
      width: calc(100% - 70px);
      margin-left: 0px;
      overflow: hidden;
    }
    
    .team-item .img-holder img {
      border-radius: 10px;
      width: 100%;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all 0.6s ease;
      transition: all 0.6s ease;
    }
    
    .team-item:hover .img-holder img {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    
    .team-item .socials {
      position: absolute;
    }
  /*   
    .team-item .socials i {
      display: block;
      margin-right: 0;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
    } */
    
    /* .team-item .socials i:last-of-type {
      margin-bottom: 0;
    } */
    
    /* .team-item .team-content {
      margin-right: 70px;
      text-align: center;
    } */
    
    .team-item .team-content h5 {
      color: #101f41;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    
    .team-item .team-content p {
      color: #4e63d7;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      font-weight: 600;
      font-size: 14px;
    }
    
    .team-item:hover .team-content h5, .team-item:hover .team-content p {
      color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .d-inline-block {
        display: inline-block!important;
    }
    
    .socials i {
        width: 35px;
        height: 35px;
        background-color: #6893e1;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 2px 0 #516cd9;
        box-shadow: 0 3px 2px 0 #516cd9;
        text-align: center;
        color: #fff;
        padding-top: 10px;
        font-size: 16px;
        margin-right: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .mb-2, .my-2 {
        margin-bottom: .5rem!important;
    }
    
    h5 {
        font-size: 21px;
    }
    
    .mb-30 {
        margin-bottom: 30px;
    }
    .feature-box-1 {
        padding: 32px;
        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
        margin: 15px 0;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        top: 0;
      }
      .feature-box-1 * {
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
      }
      .feature-box-1 .icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        background: #fc5356;
        color: #ffffff;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 22px;
        font-size: 27px;
      }
      .feature-box-1 .icon i {
        line-height: 70px;
      }
      .feature-box-1 h5 {
        color: #20247b;
        font-weight: 600;
      }
      .feature-box-1 p {
        margin: 0;
      }
      .feature-box-1:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        border-radius: 10px;
        width: 0;
        background: #20247b;
        z-index: -1;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
      }
      .feature-box-1:hover {
        top: -5px;
      }
      .feature-box-1:hover h5 {
        color: #ffffff;
      }
      .feature-box-1:hover p {
        color: rgba(255, 255, 255, 0.8);
      }
      .feature-box-1:hover:after {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        left: 0;
        right: auto;
      }
      .section {
          padding: 100px 0;
          position: relative;
      }
      .section-title {
          padding-bottom: 45px;
      }
      .section-title h2 {
          font-weight: 700;
          color: #20247b;
          font-size: 45px;
          margin: 0 0 15px;
          border-left: 5px solid #fc5356;
          padding-left: 15px;
      }
      .feature-box-1 {
        padding: 32px;
        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
        margin: 15px 0;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        top: 0;
      }
      .feature-box-1 * {
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
      }
      .feature-box-1 .icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        background: #fc5356;
        color: #ffffff;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 22px;
        font-size: 27px;
      }
      .feature-box-1 .icon i {
        line-height: 70px;
      }
      .feature-box-1 h5 {
        color: #20247b;
        font-weight: 600;
      }
      .feature-box-1 p {
        margin: 0;
      }
      .feature-box-1:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        border-radius: 10px;
        width: 0;
        background: #20247b;
        z-index: -1;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
      }
      .feature-box-1:hover {
        top: -5px;
      }
      .feature-box-1:hover h5 {
        color: #ffffff;
      }
      .feature-box-1:hover p {
        color: rgba(255, 255, 255, 0.8);
      }
      .feature-box-1:hover:after {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        left: 0;
        right: auto;
      }
      .section {
          padding: 100px 0;
          position: relative;
      }
      .section-title {
          padding-bottom: 45px;
      }
      .section-title h2 {
          font-weight: 700;
          color: #0c63e4;
          font-size: 45px;
          margin: 0 0 15px;
          border-left: 5px solid #fc5356;
          padding-left: 15px;
      }
            

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c63e4;
  padding: 15px 2%;
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10001;
  border-bottom: 4px solid #c5c5c5;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-top: -18px;
}
.logo:hover{
color: white;
text-decoration: none;
}

.logo i{
  color: white;
}

.navv {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
}

.navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  
}

.navbarr a {
  margin-left: 15px;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  transition: all .4s ease;
  text-decoration: none;
  font-size: 17px;
    font-weight: 600;
}

.navbarr a:hover, #menu-icon2:hover{
  /* background: #0c63e4; */
  background: mintcream;
  color: black;
  text-decoration: none;
}

#menu-icon, #menu-icon2 {
  cursor: pointer;
  margin-left: 20px;
  padding: 8px;
  border-radius: 50%;
}
#menu-icon{
  display: none;
}



/* banner styling */
.banner {
  margin-top: 80px;
  background-color: rgb(255, 255, 255);
  background: url(" ./img/banner-bg.png"), 
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.2) 85%
    );
  min-height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 100%;
  padding: 80px 5%;
}

.banner-content {
  width: 50%;

}

.banner-content h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--heading-color);

}


.banner-content p {
  margin-bottom: 20px;
  color:#5a5c69;
  line-height: 1.5;
}

.btn {
  font: 1.125rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.34s ease-in;
}

.btn:hover {
  /* transform: translateY(-5px); */
}

/* featured post */
.featured-post {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  width: 100%;
  justify-content: space-between;
}
.featured-left {
  display: flex;
  justify-content: space-between;
  gap: 2.7rem;
  align-items: start;
}

.featured-card {
  width: 50%;
}

.featured-card img {
  border-radius: 8px;
  margin-bottom: 18px;
  width: 100%;
  height: 280px;
}

.featured-card h2 {
  font-size: 1.6rem;
  margin-bottom: 12px;
  color: var(--heading-color);
  padding-right: 10px;

  /* to remain title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured-card p {
  padding-right: 10px;
  margin-bottom: 15px;
  color: var(--text-color);
  line-height: 1.5;

  /* to remain title in 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-outline {
  padding: 12px 22px;
  font: 1.125rem;
  font-weight: 600;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #8447fa;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.34s ease-in;
}

.btn-outline:hover {
  transform: translateY(-5px);
  background: #6722f1;
  color: #fff;
}

h3 {
  font-size: 1.15rem;
  color: var(--heading-color);
  line-height: 1.5;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  color: var(--text-color);
  line-height: 1.5;
}

.featured-right {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.featured-right h3,
.featured-right p {
  width: 80%;
}

.readme-btn {
  color: #8447fa;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-radius: 2px;
  border-bottom: 2px solid var(--text-color);
}

/* SmartUV */
.title {
  color: var(--heading-color);
  margin: 40px 0;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SmartUV {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.blog-card {
  width: 25%;
}

.blog-card img {
  border-radius: 8px;
  height: 200px;
  margin-bottom: 12px;
}

.newsletter{
    min-height: 300px;
    background: #E1DEFD;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter p{
    width: 60%;
    margin: 15px auto;
    text-align: center;
}

.form input{
    padding: 12px;
    display: inline-flex;
    border-radius: 5px;
    border: none;
    outline: none;
}

input[type="email"]{
    width: 24%;
    margin-right: 15px;
}

.form .btn{
    padding: 12px 22px;
}

/* footer */

.deneb_footer .widget_wrapper .widget .widget_title {
  margin-bottom: 30px;
}
.deneb_footer .widget_wrapper .widget .widget_title h4 {
  font-weight: bold;
}
.deneb_footer .widget_wrapper .widget .widget_title h4:after {
  content: "";
  display: block;
  max-width: 38px;
  height: 2px;
  margin-top: 5px;
}
.deneb_footer .widget_wrapper .widegt_about p {
  margin-bottom: 20px;
  color: white;
}
.deneb_footer .widget_wrapper .widegt_about .social li {
  display: inline-block;
  margin-right: 10px;
}
.deneb_footer .widget_wrapper .widegt_about .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f9e6d4;
  color: #fba543;
  font-size: 14px;
  -webkit-transition: all all 0.5s ease-out 0s;
  -moz-transition: all all 0.5s ease-out 0s;
  -ms-transition: all all 0.5s ease-out 0s;
  -o-transition: all all 0.5s ease-out 0s;
  transition: all all 0.5s ease-out 0s;
}
.deneb_footer .widget_wrapper .widegt_about .social li a:hover,
.deneb_footer .widget_wrapper .widegt_about .social li a:focus {
  background-image: -moz-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -webkit-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -ms-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  color: #fff;
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
}
.deneb_footer .widget_wrapper .widget_link ul li {
  margin-bottom: 5px;
}
.deneb_footer .widget_wrapper .widget_link ul li a {
  text-transform: capitalize;
  color: white;
}
.deneb_footer .widget_wrapper .widget_link ul li a:hover,
.deneb_footer .widget_wrapper .widget_link ul li a:focus {
  color: #feb000;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
  font-size: 12px;
  color: #feb000;
  margin-right: 10px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
  color: white;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
  display: block;
}

.deneb_footer .copyright_area {
  background: #edecf0;
  padding: 10px 0;
}
.deneb_footer .copyright_area .copyright_text {
  text-align: center;
}
.deneb_footer .copyright_area .copyright_text p {
  color: #011a3e;
}
.deneb_footer .copyright_area .copyright_text p span {
  color: #feb000;
}
.deneb_cta .cta_wrapper {
  padding: 45px 50px 42px;
  max-width: 970px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: -135px;
  position: relative;
  background-color: #0c63e4;
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
  z-index: 1;
}
.deneb_cta .cta_wrapper:after {
  content: "";
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.deneb_cta .cta_wrapper .cta_content h3 {
  color: #fff;
  font-weight: bold;
}
@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .cta_content h3 {
      font-size: 24px;
  }
}
.deneb_cta .cta_wrapper .cta_content h3:after {
  content: "";
  display: block;
  max-width: 110px;
  height: 2px;
  margin-top: 13px;
  margin-bottom: 24px;
}
.deneb_cta .cta_wrapper .cta_content p {
  color: #fff;
}
.deneb_cta .cta_wrapper .button_box {
  float: right;
}
.deneb_cta .cta_wrapper .button_box .deneb_btn {
  background: #fff;
  color: #011a3e;
}
.deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
  box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}
.footerchange{
  text-decoration: none;
}

  @media screen and (max-width: 576px) {
    .doctorbutton {
      margin-top: 10px;
      display: flex;
    }
    }
@media screen and (max-width: 576px) {
    .navbarr {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 88vh;
        background: #E1DEFD;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
        transition: all 0.45s ease;
      }
    }
      .navbarr a {
        display: block;
      }
      .navbarr.open {
        right: 0;
      }

  #menu-icon {
    display: initial;
    font-size: 1.6rem;
  }
  #menu-icon2{
    display: none;
  }
  /* banner style */
  .banner-content {
    width: 55%;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  /* featured post */
  .featured-post {
    grid-template-columns: repeat(1, 1fr);
  }
  .featured-card {
    width: 100%;
  }
  .featured-left {
    flex-direction: column;
  }

  .featured-right h3,
  .featured-right p {
    width: 100%;
  }

  /* blogs */
  .blog-header > div {
    display: none;
  }

  .title{
    margin-top: 0;
  }

  .SmartUV{
    flex-direction: column;
  }
  .blog-card{
    width: 100%;
  }

  
  input[type="email"]{
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }



@media only screen and (min-width: 577px) and (max-width: 788px){
  .navbarr {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 88vh;
    background: #E1DEFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
    transition: all 0.45s ease;
  }

  .navbarr a {
    display: block;
  }
  .navbarr.open {
    right: 0;
  }

#menu-icon {
display: initial;
font-size: 1.6rem;
}
#menu-icon2{
display: none;
}
.banner-content{
  width: 100%;
}
  .featured-post{
    grid-template-columns: 1fr;
  }
  .footer-container{
    flex-direction: column;
  }
  .SmartUV{
    flex-wrap: wrap;
  }
  .blog-card{
    width: 45%;
  }

  .web-pages{
    margin-top: 48px;
  }

}
.widget_wrapper{
  background-color:#1E90FF;
  color: white;
}
.deneb_footer .widget_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
@media (max-width: 767px) {
  .deneb_footer .widget_wrapper .widget {
      margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .deneb_cta .cta_wrapper .button_box {
      float: none;
      text-align: left;
      margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .button_box {
      float: none;
      text-align: center;
      margin-top: 30px;
  }
}
